.GPS-container {
  background: url('/src/images/bg.png') center center/cover no-repeat; 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.leaflet-container {
  width: 800px;
  height: 500px;
  align-content: center;
  border-radius: 5px;
  border-style: solid;
  border-color: rosybrown;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
